body {
    margin: 0;
    padding: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.min-h-screen {
    min-height: 100vh;
}

.w-100-percent {
    width: 100%;
}

.scroll-min {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #3a3a3a80;
    }

}

.hide-scroll {
    &::-webkit-scrollbar {
        display: none;
    }
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
}

.p-ab-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p-ab-row-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.p-ab-col-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}