@use 'element-plus/theme-chalk/dark/css-vars.css';

:root {
    --theme-bg-color: #000;
    --theme-text-color: #fff;
    --theme-active-color: #16ff9a;
}

$GlobalThemeColor: var(--theme-bg-color);
$GlobalTextColor: var(--theme-text-color);
$GlobalActiveColor: var(--theme-active-color);

html.dark {
    --el-color-primary: #16ff9a;
    --el-menu-item-font-size: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    @extend .flex-center;
}

.flex-colum-center {
    @extend .flex-center;
    flex-direction: column;
}

.flex-colum-start {
    @extend .flex-colum-center;
    justify-content: flex-start;
}

.p-ab-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

@mixin f-c-c() {}