@use 'element-plus/theme-chalk/dark/css-vars.css';

:root {
    --theme-bg-color: #000;
    --theme-text-color: #fff;
    --theme-active-color: #16ff9a;
    --theme-gray-color: #3d3d3d;
}

$GlobalThemeColor: var(--theme-bg-color);
$GlobalTextColor: var(--theme-text-color);
$GlobalActiveColor: var(--theme-active-color);
$GlobalAGrayColor: var(--theme-gray-color);

html.dark {
    --el-color-primary: #16ff9a;
    --el-menu-item-font-size: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    @extend .flex-center;
}

.flex-row-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-colum-center {
    @extend .flex-center;
    flex-direction: column;
}

.flex-colum-start {
    @extend .flex-colum-center;
    justify-content: flex-start;
}

.p-ab-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.font-size-14 {
    font-size: 14px;
}

.text-no-wrap {
    white-space: nowrap;
}

.b-s-box {
    box-sizing: border-box;
}

.w-h-100-percent {
    width: 100%;
    height: 100%;
}

.overflow-auto {
    overflow: auto;
}

.overflow-auto-x {
    overflow-x: auto;
}

.overflow-auto-y {
    overflow-y: auto;
}

.scroll-small {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $GlobalAGrayColor;
    }
}

.scroll-small-active {
    @extend .scroll-small;

    &::-webkit-scrollbar-thumb {
        background-color: $GlobalActiveColor;
    }
}

.common-btn-file {
    width: 110px;
    height: 50px;
    position: relative;
    @extend .flex-center;
    cursor: pointer;

    input {
        width: 100%;
        height: 100%;
        @extend .p-ab-center;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }
}

@mixin f-c-c() {}