.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    @extend .flex-center;
}

.flex-colum-center {
    @extend .flex-center;
    flex-direction: column;
}

.p-ab-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
}